*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sauce";
    src: url("https://db.onlinewebfonts.com/t/cdf9e1a785f6767291f7e12174be6174.eot");
    src: url("https://db.onlinewebfonts.com/t/cdf9e1a785f6767291f7e12174be6174.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/cdf9e1a785f6767291f7e12174be6174.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/cdf9e1a785f6767291f7e12174be6174.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/cdf9e1a785f6767291f7e12174be6174.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/cdf9e1a785f6767291f7e12174be6174.svg#Open Sauce One Regular")format("svg");
}

@font-face {
    font-family: "Telegraf";
    src: local(telegraf-webfont),
        url("../assets/telegraf-webfont/TelegrafRegular_272984568a25d8528fe2de8b20b29011.woff") format("woff");
}

.inicioConteudo{
    background: url(../assets/fundoInicio.png) center center;
    background-size: cover;
    height: 50rem;
}

.inicioConteudoParcial{
    margin: 0% 2% auto auto;

    width: 25%;
    height: 70%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2.5%;
}

.inicioConteudoParcial p{
    margin: 2.4% auto 2.4% auto;
}

.logo{
    margin: 1% auto auto 1%;
    width: 12%;
    height:auto;
}

.tituloPrincipal1{
    font-family: Telegraf;
    font-size: 55px;
    color: #ffffff;
}

.textoPrincipal{
    font-family: "Open Sauce";
    font-size: 23px;
    color: #ffffff;
}

.tituloPrincipal2{
    font-family: Telegraf;
    font-size: 55px;
    color: #bf9fc4;
}

.botao{
    width: 83%;
    height: 8%;

    background-color: #c64ad6;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.botao:hover{
    width: 90%;
    height: 9.6%;

    margin: -1.1%;
}

.botao a{
    text-decoration: none;
    font-family: Telegraf;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;

    transition: 0.5s;
}

.botao:hover a{
    font-size: 17px;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(to right, #bf9fc4, #79318b);
    padding: 6% 18%;
}

.sobre h1{
    margin-bottom: 3%;
}

.sobre p{
    margin: 3%;
}

.iconeSobre{
    margin-top: 3%;
    width:50%;
}

.recursos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #79318b;
    padding: 10% 18%;

    height: 50rem;
}

.recursosInfo{
    padding-top: 6%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    height: 400px;
}

.recursosParte{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1%;
    gap: 5%;
    width: 100%;
    height: 100%;
}

.recursosIcone{
    background-color: #c64ad6;
    border-radius: 100%;
    height: 71.37%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeRecursos{
    height: 65%;
}

.recursosTexto{
    border: white solid 2px;
    border-radius: 15px;
    padding: 3%;
    width: 100%;
}

.textoRecursos{
    font-family: "Open Sauce";
    color: white;
}

.exemplos{
    background-image: linear-gradient(to top, #bf9fc4, #79318b);
    height: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.textoExemplos{
    text-align: center;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoExemplos p{
    margin: 0 10%;
}

.boxesExemplos{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    padding: 0 10%;
}

.boxExemplos{
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.7% 0.1%;
}

.nomeCurso{
    font-family: "Open Sauce";
    font-size: 20px;
    color: black;
}

.imgExemplo{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.botaoExemplos{
    width: 25%;
    height: 7%;

    background-color: #79318b;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.botaoExemplos:hover{
    width: 28%;
    height: 8%;
}

.botaoExemplos a{
    text-decoration: none;
    font-family: Telegraf;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;

    transition: 0.5s;
}

.conecte{
    background: url(../assets/fundoConecte.png) no-repeat;
    width: 100%;
    height: 50rem;
}